.first-section-wrapper {
  position: relative;
}

.first-section {
  min-height: 100vh;
  justify-content: space-around;
}
span {
  font-weight: 500;
}
.first-heading {
  font-size: 30px;
  font-weight: 300;
  margin: 5px 10px;
}

.first-subheading {
  font-size: 85px;
  font-weight: 700;
  line-height: 85px;
}

@media all and (max-width: 1279px) {
  .first-heading {
    font-size: 25px;
    line-height: 30px;
  }

  .first-subheading {
    font-size: 55px;
    line-height: 65px;
  }

  .claim-anchor {
    margin-left: 0px;
  }
}

@media all and (max-width: 767px) {
  .first-section {
    align-items: flex-start;
    text-align: left;
    min-height: 70vh;
  }

  .first-heading {
    font-size: 55px;
    line-height: 47.5px;
    width: 270px;
    margin-top: 60px;
  }

  .first-subheading {
    font-size: 16px;
    line-height: 22px;
    margin: 35px 0px;
  }

  .claim-arrow {
    height: 6px;
    margin: 2px 0px 0px 3px;
  }

  .claim-label {
    height: 55px;
    font-size: 13px;
  }
}
